.inputs label{
    width: 120px;
    display: inline-block;
}

 input[type="radio"]
{
  margin-left: 120px;
}
#manager{
  margin-left: 54px;
}
#engineer{
  margin-left: 25px;
}
#mail{
  margin-left: 120px;
}
#payrole
{
  margin-left: 21px;
}
#selfservice
{
  margin-left: 10px;
}
button[name="login"]{
  margin-left: 120px;
}
.button1 {
  color: black;
  border: 2px solid #008CBA;
}
input[name="signin"]{
    border: 2px solid #008CBA;
}
